<html>
<head>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js">
</script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>


	<link href='http://fonts.googleapis.com/css?family=Noto+Serif:400,700|Shadows+Into+Light|Indie+Flower' rel='stylesheet' type='text/css'>
	<style>

body{
background-color:#e95c53;

	}
img{
	height:300px;
	margin-top:20px;
	border:5px solid white;
}
h1{
	font-family: 'Shadows Into Light', cursive;
	padding:5px;

}

li{
	list-style-type: none;
}
h2{
	color:red;
	font-family: 'Shadows Into Light', cursive;

}
a{
	color:white;
	text-decoration:none;
	font-size:40px;
	font-family: 'Shadows Into Light', cursive;
}
a:hover{
	text-decoration: none;
	color:yellow;
}
.container{
	text-align: center;
	margin-top:150px;
}
	</style>
</head>
<body>
	{% block body %}
	{% endblock %}
</body>
</html>