<html>
<head>
	<link rel="stylesheet" href="//fonts.googleapis.com/earlyaccess/hanna.css"/>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js">
</script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

<script type="text/javascript" src="/static/drag.js"></script>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

<style>
 @import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
   
   *{
      font-family: 'Hanna', serif;
      color:white;
      font-size:72px;
   }

input{
color:black;

}
	</style>

</head>
<body>
	
    
    <div id="mk1"> gee party </div>

This party is for 20s!!

<table class="table table-bordered">
	<tr>
		<td>1</td>
		<td>2</td>
		<td>3</td>
		<td>4</td>
		<td>5</td>
	</tr>
	<tr>
		<td>k</td>
		<td>a</td>
		<td>s</td>
		<td>d</td>
		<td>v</td>
	</tr>
	<tr>
		<td>123</td>
		<td>3232</td>
		<td>121</td>
		<td>232</td>
		<td>123</td>
	</tr>

</table>
<button class="btn btn-success">BUTTON</button>

<form action="/mk2/login">
	<input type="text" name="use_name">
	<input type="password" name="use_pw">
	<button type="submit">button</button>
</form>




</body>
</html>